<div class="chatbox-wrapper">
  <div class="message-box" *ngFor="let chat of chats">
    <div class="chat response">
      <span> {{ chat.chat_qustion }} </span>
    </div>
    <img class="chat_img m-5" src="../assets/images/chatbot.jpg" />

    <div class="container">
      <div class="response_cnt">
        <p>{{ chat.response }}</p>
      </div>
    </div>
  </div>

  <div class="messagebar">
    <div class="bar-wrapper">
      <input
        type="text"
        placeholder="Enter your message..."
        [(ngModel)]="chat_content"
      />
      <button (click)="sendChat()">
        <span class="material-symbols-rounded"> send </span>
      </button>
    </div>
  </div>
</div>
